html
{
	height: 100%;
}

body
{
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

#kontener
{
	height: 100%;
	margin-left: auto;/*wyśrodkowanie strony*/
	margin-right: auto;/*wyśrodkowanie strony*/
}

#zegary_dom
{
	height: 50%;
	width: 100%;
}

#zegary
{
	width: 40%;
	height: 100%;
	float: left;
	outline: 5px dotted green;
}

#zegary1
{
	width: 100%;
	height: 20%;
	text-align: center;
	font-size: 400%;
}

#zegary2
{
	height: 60%;
	text-align: center;
	font-size: 800%;	
}

#zegary3
{
	width: 100%;
	height: 20%;
	text-align: center;
}

button 
{
	display: inline-block;
	padding: 15px 25px;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 36px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	
}
  
button:hover
{
	background-color: #3e8e41
}
  
button:active 
{
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.button_disabled
{
	opacity: 0.6;
	cursor: not-allowed;
}

#data
{	
	width: 100%;
	height: 100%;
	color: gray;
}

#zegar
{	
	width: 100%;
	height: 100%;
	color: green;
}

#dom
{	
	width: 60%;
	height: 100%;
	float: left;
	outline: 5px dotted green;
}

svg
{
	width: 100%;
	height: 100%;
    margin-left: auto;
    margin-right: auto;
	font-size: 100%;
	fill: black;
}

.brama
{
	fill:none;
	stroke:#000000;
	stroke-width:3;	
}

.T_Z 
{
	fill: rgb(5, 40, 5);
}

.st0
{
	fill:none;
	stroke:#231F20;
	stroke-width:5;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
}

.st1
{
	fill:none;
	stroke:#59C7ED;
	stroke-width:5;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
}

.st2
{
	opacity:0.24;
	fill:#0AA7E0;
}
.st3
{
	fill:#231F20;
}

#piec
{
	height: 50%;
	clear: both;
	outline: 5px dotted green;
}

.pc0
{
	fill:none;
	stroke:red;
	stroke-width:4;
}

.pc1
{
	fill:none;
	stroke:blue;
	stroke-width:4;
}

.pc2
{
	fill:orange;
	stroke:black;
	stroke-width:2;	
}

.pc3
{
	fill:white;
	stroke:black;
	stroke-width:2;	
}

.pc4
{
	fill:url(#linearGradient1);
	stroke:#000000;
	stroke-width:5;
}

.pc5
{
	fill:gray;
	stroke:#000000;
	stroke-width:3;	
}

.pc6
{
	fill:url(#linearGradient1);
	stroke:#000000;
	stroke-width:3;	
}