{% load static %}
<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<title>Dom</title>
	<meta name="description" content="Wizualizacja danych z czujników" />
	<meta name="keywords" content="czujniki, dom, " />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/><!-- podlinkowanie css-->
	<!--<script type="text/javascript" src="jquery-3.5.1.js"></script><!-- podlinkowanie jquery-->
	<!--<script type="text/javascript" src="skrypty.js"></script><!-- podlinkowanie js-->
	
</head>

<body>
	<div id="kontener">
		<div id="zegary_dom">
			<div id="zegary">
				<div id="zegary1">
					
				</div>
				<div id="zegary2">
					<text id="zegar"></text>
					
				</div>
				<div id="zegary3">
					
				</div>
			</div>
						
			<div id="dom">
				<svg version="1.1" id="Layer_dom" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 250 250">

					<g>
						<polyline class="st0" points="197.8,91 197.8,64.4 147.6,64.4"/>
						<polyline class="st0" points="154.2,71 147.6,64.4 154.2,57.8"/>
					</g>
					<g>
						<polyline class="st0" points="66.2,125.5 66.2,196.7 108.7,196.7"/>
						<polyline class="st0" points="105.4,190.1 112,196.7 105.4,203.3"/>
					</g>
					<path class="st1" d="M114.8,106.5c11.4,0,20.6-9.2,20.6-20.6c0-11.1-8.8-20.1-19.8-20.5c0-0.5,0.1-1,0.1-1.5
						c0-11.3-9.2-20.5-20.5-20.5c-2.9,0-5.7,0.6-8.2,1.7c-5.7-6-14-9.8-23.1-9.8c-17.3,0-31.3,13.4-31.3,30c0,1.2,0.1,2.4,0.2,3.5
						c-8.8,1.7-15.4,9.4-15.4,18.6c0,10.5,8.5,19,19,19L114.8,106.5z"/>
					<g>
						<path class="st2" d="M70.7,46.4c-3.2-2.1-7.2-3.2-11.5-2.7c-7.9,0.9-14.2,7.3-15,15.2c-0.6,5.2,1.2,10,4.4,13.5
							C51.8,60.8,60,51.4,70.7,46.4z"/>
					</g>
					<polyline class="st0" points="135.5,188.6 135.5,211.5 185.3,211.5 211.5,211.5 211.5,180.5 
						173.5,143.1 135.8,180.8 126.4,171.4 173.5,124.3 189.5,140.4 189.5,130.1 203.3,130.1 203.3,154.1 220.5,171.4 "/>
					<text id="W_zewnetrzna_A" x="60" y="65">--%</text>	
					<text id="T_zewnetrzna_A" x="50" y="84">--.-°C</text>
					<text id="C_zewnetrzna_A" x="50" y="103">---hPa -</text>
					<text id="W_dom_A" x="160" y="172">--%</text>					
					<text id="T_dom_A" x="150" y="190">{{czujnik_T_dom_A}}°C</text>
					<text id="C_dom_A" x="150" y="208">---hPa -</text>

				</svg>		
			</div>
		</div>
		<div id="piec">
			<svg
				   xmlns:osb="http://www.openswatchbook.org/uri/2009/osb"
				   xmlns:dc="http://purl.org/dc/elements/1.1/"
				   xmlns:cc="http://creativecommons.org/ns#"
				   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
				   xmlns:svg="http://www.w3.org/2000/svg"
				   xmlns="http://www.w3.org/2000/svg"
				   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
				   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
				   version="1.1"
				   id="Layer_1"
				   x="0px"
				   y="0px"
				   viewBox="0 0 500 250"
				   xml:space="preserve"
				   sodipodi:docname="piec.svg"
				   width="500"
				   height="250"
				   inkscape:version="1.0 (4035a4fb49, 2020-05-01)"><metadata
				   id="metadata29"><rdf:RDF><cc:Work
					   rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
						 rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title /></cc:Work></rdf:RDF></metadata><defs
				   id="defs27"><linearGradient
					 id="linearGradient1997"
					 osb:paint="gradient"><stop
					   style="stop-color:#00c8ff;stop-opacity:1;"
					   offset="0"
					   id="stop1993" /><stop
					   style="stop-color:#00c8ff;stop-opacity:0;"
					   offset="1"
					   id="stop1995" /></linearGradient></defs><sodipodi:namedview
				   inkscape:document-rotation="0"
				   pagecolor="#ffffff"
				   bordercolor="#666666"
				   borderopacity="1"
				   objecttolerance="10"
				   gridtolerance="10"
				   guidetolerance="10"
				   inkscape:pageopacity="0"
				   inkscape:pageshadow="2"
				   inkscape:window-width="1920"
				   inkscape:window-height="1017"
				   id="namedview25"
				   showgrid="false"
				   inkscape:zoom="6.8000001"
				   inkscape:cx="137.33505"
				   inkscape:cy="173.57908"
				   inkscape:window-x="1272"
				   inkscape:window-y="-8"
				   inkscape:window-maximized="1"
				   inkscape:current-layer="Layer_1"
				   inkscape:lockguides="true" />
				<ellipse
				   style="fill:#000000;fill-rule:evenodd;stroke-width:0.707107"
				   id="path35"
				   cx="70"
				   cy="115"
				   rx="30"
				   ry="5" /><rect
				   style="fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:3.88444;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
				   id="rect1920"
				   width="56.115559"
				   height="116.11556"
				   x="161.94223"
				   y="111.94221" /><rect
				   style="fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.86068;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
				   id="rect1922"
				   width="38.139328"
				   height="18.139322"
				   x="170.93033"
				   y="130.93033" /><rect
				   style="fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.91221;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
				   id="rect1924"
				   width="38.087791"
				   height="18.08779"
				   x="170.9561"
				   y="200.9561" /><path
				   style="fill:none;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
				   d="M 160,141 H 100"
				   id="path1951" /><ellipse
				   style="fill:#00ff00;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.81818;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
				   id="path1930"
				   cx="130"
				   cy="140"
				   rx="9.09091"
				   ry="9.0909081" /><path
				   style="fill:#ffff00;fill-opacity:1;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
				   d="m 220.58824,141.54098 c 30,0 30.58823,-0.58824 30.58823,-0.58824"
				   id="path1955" /><ellipse
				   ry="9.0909081"
				   rx="9.09091"
				   cy="70"
				   cx="260"
				   id="path1930-6"
				   style="fill:#00ff00;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.81818;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" /><rect
				   style="fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:2.13733;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
				   id="rect1972"
				   width="57.862667"
				   height="37.862671"
				   x="321.06866"
				   y="61.068668" /><rect
				   y="61.068665"
				   x="401.06866"
				   height="37.862671"
				   width="57.862667"
				   id="rect1972-9"
				   style="fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:2.13733;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" /><path
				   style="fill:none;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
				   d="m 259.41176,129.41176 v -50.588231 0"
				   id="path3960" /><path
				   style="fill:none;stroke:#ff0000;stroke-width:1.99998;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
				   d="m 270,70.999992 h 49.00001 v 0.605218"
				   id="path3962" /><path
				   id="path3962-7"
				   d="m 380,70.998789 h 19.00121 v 0.930449"
				   style="fill:none;stroke:#ff0000;stroke-width:1.99758;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" /><path
				   style="fill:none;stroke:#0000ff;stroke-width:1.99758;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
				   d="m 380,90.99879 h 19.00121 v 0.93045"
				   id="path3962-7-1" /><path
				   style="fill:none;stroke:#0000ff;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
				   d="M 329.51184,100.02749 330,140 l -59.9949,0.12639"
				   id="path3994"
				   sodipodi:nodetypes="ccc" /><path
				   sodipodi:nodetypes="ccc"
				   id="path3994-2"
				   d="m 258.67702,150.00461 0.31724,68.7768 -38.98868,0.21746"
				   style="fill:none;stroke:#0000ff;stroke-width:2.00227;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" /><path
				   id="path1951-4"
				   d="M 160,221 H 100"
				   style="fill:none;stroke:#0000ff;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" /><path
				   style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
				   d="m 247.05882,151.76471 c 24.11765,-23.52942 24.11765,-23.52942 24.11765,-23.52942 v 0"
				   id="path4026" /><path
				   style="fill:none;stroke:#000000;stroke-width:1.12879px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
				   d="m 267.24477,127.75957 h 4.4356 v 4.4356"
				   id="path4028" /><ellipse
				   ry="9.0909081"
				   rx="9.09091"
				   cy="140"
				   cx="260"
				   id="path1930-4"
				   style="fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.81818;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" /><path
				   sodipodi:nodetypes="ccccc"
				   id="path856"
				   d="m 99.000448,115.34016 v 108.46179 c -16.915534,7.56501 -34.208607,13.85759 -57.480291,0 V 114.52156 l -0.80958,-0.81857"
				   style="fill:none;stroke:#000000;stroke-width:1.99911;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
				<text id="T_bojler_Z" class="T_Z" x="45" y="170">--.-°C</text>
				<text id="T_bojler_A" x="45" y="190">--.-°C</text>
				<text id="T_piec_Z" class="T_Z" x="165" y="170">--.-°C</text>
				<text id="T_piec_A" x="165" y="190">--.-°C</text>
				<text id="T_grzejniki_Z" class="T_Z" x="325" y="77">--.-°C</text>
				<text id="T_grzejniki_A" x="325" y="97">--.-°C</text>
				<text id="S_pompaCWU" x="126" y="146">-</text>
				<text id="S_pompaCO" x="255" y="76">-</text>
			</svg>		
		</div>
	</div>
</body>
</html>